{% load staticfiles %}
{% load static %}

<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160973103-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-160973103-1');
</script>

  <title>Corona Help Finder - Find help, tips to be safe, information and labs that do tests for Corona (covid-19) near you.</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Corona Help Finder
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/tips">Tips and Advice</a>
      <a href="/info">Trustful Informations</a>
      <a href="/dashboard">Dashboard</a>
    </div>
  </div>

  <!-- The Mobie View Begins -->
  {% if request.user_agent.is_mobile %}

  <h4 style="text-align: center;">This Map shows Covid 19 Pendamic in India</h4>
  <p style="text-align: center;"><strong>Hover/Click on any state to know details.</strong></p>
  <iframe id="conmap" allowtransparency="true" src="https://edata.ndtv.com/coronavirus/daily/india_color.html?device=wap" scrolling="no" class="_indiamap  u_data2" data-id="bellwetherulta" width="100%" height="590px" frameborder="0"> </iframe>
  <br>
  <br>


  <h4 style="text-align: center;">This Graph shows Covid 19 Daily Trends in India</h4>
  <p style="text-align: center;"><strong>Hover/Click on any date to know details.</strong></p>
  <iframe id="cordaily" allowtransparency="true" src="https://edata.ndtv.com/coronavirus/graph.html?tabs=0&type=daily" scrolling="no" class="_indiamap  u_data3" data-id="bellwetherulta" width="100%" height="610px" frameborder="0"> </iframe>
  <br>
  <br>


  <h4 style="text-align: center;">This Map shows Covid 19 history in India</h4>
  <p style="text-align: center;"><strong>Hover/Click on any region to know details.</strong></p>
  <iframe id="corall" allowtransparency="true" src="https://edata.ndtv.com/coronavirus/graph.html?tabs=0&type=all" scrolling="no" class="_indiamap  u_data4" data-id="bellwetherulta" width="100%" height="610px" frameborder="0"> </iframe>
  <br>
  <br>


  <h4 style="text-align: center;">This Map shows Covid 19 Cases in India statewise</h4>
  <p style="text-align: center;"><strong>Scroll down for more states and union territory.</strong></p>
  <iframe id="coronaworld" allowtransparency="true" src="https://edata.ndtv.com/coronavirus/index.html?device=wap" scrolling="no" class="_indiamap  u_data5" data-id="bellwetherulta" width="100%" height="550px" frameborder="0"> </iframe>
  <br>
  <br>


  <h4 style="text-align: center;">This Map shows Covid 19 Cases all around the World</h4>
  <p style="text-align: center;"><strong>Hover/Click on any region to know details.</strong></p>
  <iframe id="coronaworld" allowtransparency="true" src="https://edata.ndtv.com/coronavirus/index.html?device=hp" scrolling="no" width="100%" height="323px" frameborder="0"></iframe>
  {% else %}
  <!-- The Mobie View Ends -->


  <h4 style="text-align: center;">This Map shows Covid 19 Pendamic in India</h4>
<p style="text-align: center;"><strong>Hover/Click on any state to know details.</strong></p>
<div style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;">
<iframe allowtransparency="true" src="https://edata.ndtv.com/coronavirus/table/map_table.html?days=7" scrolling="no" width="100%" height="325px" frameborder="0"></iframe>
</div>
<br>
<br>
<h4 style="text-align: center;">This Graph shows Covid 19 Daily Trends in India</h4>
<p style="text-align: center;"><strong>Hover/Click on any date to know details.</strong></p>
<div style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;">
<iframe id="cormap" allowtransparency="true" src="https://edata.ndtv.com/coronavirus/graph.html" scrolling="no" width="100%" height="325px" frameborder="0"></iframe>
</div>
<br>
<br>
<h4 style="text-align: center;">This Map shows Covid 19 history in India</h4>
<p style="text-align: center;"><strong>Hover/Click on any region to know details.</strong></p>
<div style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;">
 <iframe id="cortable" allowtransparency="true" src="https://edata.ndtv.com/coronavirus/daily/india_color.html?desktop=1" width="100%" height="325px" frameborder="0"></iframe>
</div>
 <br>
<br>
<h4 style="text-align: center;">This Map shows Covid 19 Cases in India statewise</h4>
<p style="text-align: center;"><strong>Scroll down for more states and union territory.</strong></p>
  <iframe id="coronagraph" allowtransparency="true" src="https://edata.ndtv.com/coronavirus/table/india_table.html" scrolling="yes" width="100%" height="325px" frameborder="0"></iframe>
  <br>
  <br>
  <h4 style="text-align: center;">This Map shows Covid 19 Cases all around the World</h4>
<p style="text-align: center;"><strong>Hover/Click on any region to know details.</strong></p>
  <iframe id="coronaworld" allowtransparency="true" src="https://edata.ndtv.com/coronavirus/index.html?device=hp" scrolling="no" width="150%" height="323px" frameborder="0"></iframe>
{% endif %}

<p style="font-size: 8px;">Data Souce: NDTV and WHO</p>


<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About Corona Help Finder</h5>
                <p class="grey-text text-lighten-4">The site is made to help people in various states of India to find help, Labs and hospitals that test for Corona or covid19 virus, tips to be safe, trustful information and to check the fake news that's circulation about the virus.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/tips">Tips and Advice</a></li>
                  <li><a href="/info">Trustful Informations</a></li>
                  <li><a href="/dashboard">Dashboard</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Created by Ahmed Reza with ❤️
            </div>
          </div>
        </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    	$(document).ready(function() {
    $('select').material_select();
});
    </script>
</body>
</html>