{% extends 'base.html' %}
{% block content %}


<div class="container py-5">
<section class="py-5 header text-center">
    <div class="container py-4">
        <header>
            <h1 class="display-4">FakeCheck for whatsapp forwards.</h1>
            <p class="font-italic text-muted mb-1">In this pendamic situation can get worse if we get in the trap of all the fake messages doing round on whatsapp.</p>
            <p class="font-italic text-muted">So i created this feature where you can just copy paste the WHATSAPP FORWARD that looks fake, and it will tell you if it's fake.
            </p>
        </header>
    </div>
</section>

    <div class="s200">
      <form>
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="svg-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
              </svg>
            </div>
            
            <textarea id="search" name="sf" placeholder="Paste Whatsapp message forward" value="{{ request.GET.sf }}" style="width: 100%; border-radius: 5px;"></textarea>
          </div>
          <div class="input-field second-wrap">
            <button class="btn-search" type="submit" value="Search">SEARCH</button>
          </div>
        </div>
        <span class="info">Paste the whatsapp forward and click the search button.</span>
      </form>
    </div>


  <div class="py-5">
    <div class="row">



      {% for n1 in fakecheck_list %}
      <!-- Fake item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="https://compote.slate.com/images/af3a9278-f35c-43e1-8e1e-fac607891c3c.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <p class="small text-muted mb-0">{{n1.msg}}</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><span class="font-weight-bold">Fake Rating:</span></p>
              <div class="badge badge-danger px-3 rounded-pill font-weight-normal">100% Fake</div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      {% empty %}
      <div class="col text-center">
      <p class="font-italic text-muted">We didn't find this fake forward but that doesn't mean it can't me fake please check on the internet.</p>
  </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}



















