{% extends 'base.html' %}
{% block content %}
<div class="s130" style="margin-top: 0px; padding-top: 0px;">

<h5 style="margin-top: 100px; text-align: center; width:50%; color: white; text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.9);"><strong>The platfom is made to help people in various states of India to find help, Labs and hospitals that test for Corona or covid19 virus, check the fake news that's in circulation about the virus, donate in a decentralized way and find tips on being safe. </strong></h5>


      <form action="{% url 'chose_state' %}" method="post">
      {% csrf_token %}
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="svg-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
              </svg>
            </div>
            <select id="search" class="form-control" name="state">
    <option value="" disabled selected>Choose your state</option>
    <option value="Andhra Pradesh">Andhra Pradesh</option>
  <option value="Andaman & Nicobar Islands">Andaman & Nicobar Islands</option>
  <option value="Assam">Assam</option>
  <option value="Bihar">Bihar</option>
  <option value="Chandigarh">Chandigarh</option>
  <option value="Delhi-NCR">Delhi-NCR</option>
  <option value="Gujarat">Gujarat</option>
  <option value="Haryana">Haryana</option>
  <option value="Himachal Pradesh">Himachal Pradesh</option>
  <option value="Jammu and Kashmir">Jammu and Kashmir</option>
  <option value="Jharkhand">Jharkhand</option>

  <option value="Karnataka">Karnataka</option>
  <option value="Kerala">Kerala</option>
  <option value="Madhya Pradesh">Madhya Pradesh</option>
  <option value="Meghalaya">Meghalaya</option>
  <option value="Maharashtra">Maharashtra</option>
  <option value="Manipur">Manipur</option>
  <option value="Odisha">Odisha</option>
  <option value="Puducherry">Puducherry</option>
  <option value="Punjab">Punjab</option>
  <option value="Rajasthan">Rajasthan</option>
  <option value="Tamil Nadu">Tamil Nadu</option>
  <option value="Tripura">Tripura</option>

  <option value="Telangana">Telangana</option>
  <option value="Uttar Pradesh">Uttar Pradesh</option>
  <option value="UttaraKhand">UttaraKhand</option>
  <option value="West Bengal">West Bengal</option>

  </select>
          </div>
          <div class="input-field second-wrap">
            <button class="btn-search" type="submit" name="action">SEARCH</button>
          </div>
        </div>
        <span class="info">Select state to see hospitals, clinics and labs that do tests for Corona Virus.</span>
      </form>
<section class="header text-center">
    <div class="container py-4">
        <header>
            <h1 class="display-4" style="color:#fff; background-color: blue;">Some amazing features</h1>
            <hr>
        </header>
    </div>
</section>
      <div class="container">
      <div class="row">
         <div class="col-lg-4">
                <!-- Effect 5-->
                <div class="card effect-5">
                    <div class="card-body p-5">
                        <h2 class="h5">Test Centres Nearby</h2>
                        <p class="font-italic text-muted">With the help of this feature you can search for test centers, labs and hospitals that test for Corona or covid19 virus in your state, simply select your state and click search button.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Effect 5-->
                <div class="card effect-5">
                    <div class="card-body p-5">
                        <h2 class="h5">FakeCheck</h2>
                        <p class="font-italic text-muted">In this pandemic fake whatsapp forwards are doing the rounds, because of there already had been casualties across the country, fakecheck tells you if a Whatsapp forward message is fake with the help of Machine Learning.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Effect 5-->
                <div class="card effect-5">
                    <div class="card-body p-5">
                        <h2 class="h5">Decentralized Donations</h2>
                        <p class="font-italic text-muted">You can be a covid warrior too by donating to various organizations who are helping people around the country. The best part is it's completely open and decentralized so you can know how they are using your money to help others..</strong></p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}

