{% extends 'base.html' %}
{% block content %}
<div class="profilepage">
  <!-- Info part of the profile -->
  <div class="bg-white shadow rounded overflow-hidden">
    <div class="px-4 pb-4 bg-dark" >
      <div class="media align-items-end profile-header">
        <div class="profile mr-3"><img src="/media/{{myprofile.pic}}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
          <a href="#" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#exampleModal">Donate Now!</a>
          <a class="btn btn-default" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Read More</a>
        </div>

        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="aboutsec">
            <div class="p-4 bg-light rounded shadow-sm">
              <h5 class="mb-3">About {{myprofile.name}}</h5>
              <p class="font-italic mb-0">{{myprofile.purpose}}.</p>
            </div>
          </div>
        </div>

        <div class="media-body mb-5 text-white">
          <h4 class="mt-0 mb-0">{{myprofile.name}}</h4>
          <p class="small mb-4">{{myprofile.description}}</p>
          <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>{{myprofile.address}}</p>
          <p class="small mb-4"> <i class="fa fa-phone mr-2"></i>{{myprofile.phone_no}}</p>
          <p class="small mb-4"> <i class="fa fa-at mr-2"></i>{{myprofile.user.email}}</p>
        </div>

      </div>
    </div>

    <div class="bg-light p-4 d-flex justify-content-end text-center">
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <h5 class="font-weight-bold mb-0 d-block"><i class="fa fa-inr mr-1"></i> {{myprofile.donation_recived}}</h5><small class="text-muted">Donation Recived</small>
        </li>
      </ul>
    </div>

  </div>


<!-- work section -->
<div class="page-content p-1" id="content">
  <div class="container py-5">

    <section class="py-5 header text-center">
      <div class="container py-4">
        <header>
          <h1 class="display-4">All work done by {{myprofile.name}}.</h1>
          <p class="font-italic text-muted mb-1">Below are all the work done by {{myprofile.name}} with the help of money that they raised.</p>
          <p class="font-italic text-muted">Click the view more button to see details such as how much money was spend and who were the donars.</p>
        </header>
      </div>
    </section>

    <div class="s200">
      <form>
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="svg-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
              </svg>
            </div>
            <input id="search" placeholder="Search your work to find easily." value="{{ request.GET.si }}" type="text" name="si" />
          </div>
          <div class="input-field second-wrap">
            <button class="btn-search" type="submit" value="Search">SEARCH</button>
          </div>
        </div>
        <span class="info">Search {{myprofile.name}} work with title or description.</span>
      </form>
    </div>

    <div class="py-5">
      <div class="row">
        {% for MyPost in user_posts %}
        <div class="col-lg-6 mb-3 mb-lg-0">
          <div class="hover hover-4 text-white rounded"><img src="/media/{{MyPost.main_pic}}" alt="">
            <div class="hover-4-content">
              <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">{{MyPost.title}} </span></h3>
              <p class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light">Published on: </span>{{MyPost.cr_date | date:"d/m/y"}}</p>
              <p class="hover-4-description text-uppercase mb-0 small">{{MyPost.short_description}}</p>
            </div>
          </div>
          <a class="btn btn-dark btn-sm mt-2" href='/covid/mypost/{{MyPost.id}}'>Read More</a>
        </div>
        {% endfor %}
      </div>
    </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Giving is good donate now.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {% for MyPayment in bank_details %}
      <div class="modal-body">
        <div class="bank_transfer-message svelte-qd117s">To donate to {{myprofile.name}}, copy their account details and transfer directly to them. Once they recive their money they will add you as a donar.
        </div>

        <div class="neft-details svelte-qd117s">
          <div>
            <div class="ct-tr svelte-qd117s"><span class="ct-th svelte-qd117s">Account:</span> <span class="ct-td svelte-qd117s">{{MyPayment.account_num}}</span></div>
            <div class="ct-tr svelte-qd117s"><span class="ct-th svelte-qd117s">Bank Name:</span> <span class="ct-td svelte-qd117s">{{MyPayment.bank_name}}</span></div>
            <div class="ct-tr svelte-qd117s"><span class="ct-th svelte-qd117s">IFSC:</span> <span class="ct-td svelte-qd117s">{{MyPayment.ifsc}}</span></div>
            <div class="ct-tr svelte-qd117s"><span class="ct-th svelte-qd117s">Beneficiary Name:</span> <span class="ct-td svelte-qd117s">{{MyPayment.beneficiary_name}}</span></div>
          </div>
        </div>

      </div>

      <input type="text" value="Account Number: {{MyPayment.account_num}}, Bank Name: {{MyPayment.bank_name}}, IFSC: {{MyPayment.ifsc}}, Beneficiary Name: {{MyPayment.beneficiary_name}}" id="myInput" style="opacity: 0;">
      {% endfor %}

      <div class="modal-footer">
        <button onclick="myFunction()"  data-toggle="tooltip" data-placement="top" title="Copy to clipboard" id="myTooltip" class="btn btn-primary">
          Copy donation details
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
    $(function() {
  // Sidebar toggle behavior
  $('#sidebarCollapse').on('click', function() {
    $('#sidebar, #content').toggleClass('active');
  });
});
</script>
<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");

  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Details Copied!";
}

</script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>


{% endblock %}
