{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center;">{{ state | title }}</h2>

{% if state == 'Andhra Pradesh' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Sri Venkateswara Institute of Medical Sciences, Tirupati</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31018.606148741375!2d79.3864021720123!3d13.63793693694744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d4b1f9e4747bd%3A0x6a97886f65cbd8c8!2sSri%20Venkateswara%20Institute%20of%20Medical%20Sciences%20(SVIMS)!5e0!3m2!1sen!2sin!4v1584386838872!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>2. Andhra Medical College, Visakhapatnam, Andhra Pradesh</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3800.8087446315144!2d83.30267731488085!3d17.70649278788805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a39430f9b1859ff%3A0xec440a7fe3e0c338!2sAndhra%20Medical%20College!5e0!3m2!1sen!2sin!4v1584386930911!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

{% elif state == 'Andaman & Nicobar Islands' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Regional Medical Research Centre, Port Blair, Andaman and Nicobar</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.8413245955976!2d92.71244841480862!3d11.634654491742648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30889439a1942829%3A0xfc57f743bee8430e!2sRegional%20Medical%20Research%20Centre!5e0!3m2!1sen!2sin!4v1584387290924!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>




{% elif state == 'Assam' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>Gauhati Medical College, Guwahati</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28652.279068674114!2d91.75030185619453!3d26.14670419164203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a596c6c4fbb01%3A0x1ed784a586de68b9!2sGauhati%20Medical%20College!5e0!3m2!1sen!2sin!4v1584387475169!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>





{% elif state == 'Bihar' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong> Rajendra Memorial Research Institute of Medical Sciences, Patna</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3598.1558013171025!2d85.19553331456721!3d25.599738583710554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed5f4edfc3865b%3A0x2c8b2a89fdab719d!2sRMRIMS%20Agamkuan%2C%20Patna%2C%20Bihar!5e0!3m2!1sen!2sin!4v1584387585793!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


{% elif state == 'Chandigarh' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong> Post Graduate Institute of Medical Education & Research, Chandigarh </strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.3425273373864!2d76.77281791470313!3d30.76496458162593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ff27f67661afb%3A0xad4389e0eee19a83!2sPost%20Graduate%20Institute%20of%20Medical%20Education%20%26%20Research%2C%20Chandigarh!5e0!3m2!1sen!2sin!4v1584387854813!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>




{% elif state == 'Chhattisgarh' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>All India Institute Medical Sciences, Raipur</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.3709361511205!2d81.57699011447104!3d21.25677968587535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28de23ea073ba1%3A0x9de4d779d976c7c9!2sAll%20India%20Institute%20of%20Medical%20Science%20Raipur%2C%20Chhatisgarh%2C%20INDIA!5e0!3m2!1sen!2sin!4v1584387956552!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>






{% elif state == 'Delhi-NCR' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. All India Institute Medical Sciences, Delhi </strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224334.5119042032!2d76.90096909306914!3d28.53290348291338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce26f903969d7%3A0x8367180c6de2ecc2!2sAll%20India%20Institute%20Of%20Medical%20Sciences%2C%20New%20Delhi!5e0!3m2!1sen!2sin!4v1584388097968!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <br>
    <br>
    <h4><strong>2. National Centre for Disease Control, Delhi</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.3402082333964!2d77.2213963146454!3d28.67946808239932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfda49c1ad55d%3A0x7411f096abf5f754!2sNational%20Centre%20for%20Disease%20Control!5e0!3m2!1sen!2sin!4v1584388173477!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>



    {% elif state == 'Gujarat' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. BJ Medical College, Ahmedabad </strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.2184695813357!2d72.60066801450874!3d23.052450784937804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e83b307bfadf3%3A0x611362b51414b1a8!2sB.J.%20Medical%20College%20and%20Civil%20hospital!5e0!3m2!1sen!2sin!4v1584388289395!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <br>
    <br>
    <h4><strong>2. M.P.Shah Government Medical College, Jamnagar</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.715915974866!2d70.06305121449634!3d22.477307385231924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39576aa44bb6fe05%3A0x51088b6f70876245!2sShri%20M%20P%20Shah%20Government%20Medical%20College!5e0!3m2!1sen!2sin!4v1584388366362!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


    {% elif state == 'Haryana' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Pt. B.D. Sharma Post Graduate Inst. of Med. Sciences, Rohtak, Haryana </strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3493.4447468484027!2d76.6087101!3d28.88512919999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d8c9b31dc1eef%3A0x1c110d6003d695c5!2sPandit%20Bhagwat%20Dayal%20Sharma%20Post%20Graduate%20Institute%20of%20Medical%20Sciences!5e0!3m2!1sen!2sin!4v1584388655781!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <br>
    <br>
    <h4><strong>2. BPS Govt Medical College, Sonipat</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3484.4280021244185!2d76.8083989!3d29.152057299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390deabddb6fede1%3A0x7910f895cf38df43!2sBhagat%20Phool%20Singh%20Government%20Medical%20College!5e0!3m2!1sen!2sin!4v1584389364943!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>





    {% elif state == 'Himachal Pradesh' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Indira Gandhi Medical College, Shimla, Himachal Pradesh </strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3416.1166366670327!2d77.1822518!3d31.1064901!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39057890673943bd%3A0x9d9fd945c9a4a3f5!2sIndira%20Gandhi%20Medical%20College%20%26%20Hospital!5e0!3m2!1sen!2sin!4v1584389494376!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <br>
    <br>
    <h4><strong>2. Dr.Rajendra Prasad Govt. Med. College, Kangra, Tanda, HP</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3379.8923458320282!2d76.2986883!3d32.0991951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391b4f0ea6898fc1%3A0x6b38be67550ee8ba!2sDr.%20Rajendra%20Prasad%20Government%20Medical%20College!5e0!3m2!1sen!2sin!4v1584389576811!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>



    {% elif state == 'Jammu and Kashmir' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Sher-e- Kashmir Institute of Medical Sciences, Srinagar </strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3302.398522377893!2d74.8000465!3d34.136145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1900855555555%3A0xb81ae8b776707791!2sSher%20-%20i%20-%20Kashmir%20Institute%20of%20Medical%20Sciences!5e0!3m2!1sen!2sin!4v1584389681729!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <br>
    <br>
    <h4><strong>2. Government Medical College, Jammu </strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52854.058189937125!2d74.78018545000002!3d34.11105510000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1855f59c10421%3A0xf509cd6723b6550e!2sGovernment%20Medical%20College%20(GMC)!5e0!3m2!1sen!2sin!4v1584389746910!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>






    {% elif state == 'Jharkhand' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>MGM Medical College, Jamshedpur</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3676.88715756836!2d86.232396!3d22.843664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f5e23c21b35b31%3A0x2aeeec342f968850!2sMGM%20Medical%20College%20%26%20Hospital%2C%20Jamshedpur!5e0!3m2!1sen!2sin!4v1584389832469!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>






    {% elif state == 'Karnataka' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Bangalore Medical College & Research Institute, Bangalore</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.1946064060526!2d77.5747214!3d12.9593958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae16773e7dc413%3A0x655b9637743997d8!2sBMCRI-%20Bangalore%20Medical%20College%20and%20Research%20Institute!5e0!3m2!1sen!2sin!4v1584389938828!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>2. National Institute of Virology Field Unit Bangalore</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.5389347553914!2d77.5908367!3d12.937328299999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15bb8b33df13%3A0xa4f9b6f1cf50913e!2sNational%20Institute%20Of%20Virology%20Bangalore%20Karnataka!5e0!3m2!1sen!2sin!4v1584390030693!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>3. Mysore Medical College & Research Institute, Mysore</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.0113419325103!2d76.6504047!3d12.315022899999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf70730406bcef%3A0x332f4cf6f98307e9!2sMysore%20Medical%20College%20And%20Research%20Institute!5e0!3m2!1sen!2sin!4v1584390116697!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>4. Hassan Inst. of Med. Sciences, Hassan, Karnataka</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.4833319237896!2d76.10268649999999!3d13.004863799999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba5483de14ade31%3A0xe15eae8a98ba6ded!2sHassan%20Institute%20Of%20Medical%20Sciences!5e0!3m2!1sen!2sin!4v1584390193713!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>5. Shimoga Inst. of Med. Sciences, Shivamogga, Karnataka</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3872.4355476700016!2d75.5668522!3d13.932652599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbba8d0bb6c8adf%3A0xc7be084ea62ac67d!2sSHIMOGA%20Institute%20of%20Medical%20Sciences%20(SIMS)!5e0!3m2!1sen!2sin!4v1584390265515!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>



    {% elif state == 'Kerala' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. National Institute of Virology Field Unit, Kerala</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3936.032931421849!2d76.3431999!3d9.4185125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b089bba6a47b3cd%3A0x48a146f581d6f5fb!2sNational%20Institute%20of%20Virology%2CKerala%20Unit!5e0!3m2!1sen!2sin!4v1584390364125!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>2. Govt. Medical College, Thriuvananthapuram, Kerala</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d252432.19821727157!2d76.83925344999999!3d8.6674632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bbfd65530ccd%3A0xa0ceab851a9f2e90!2sGovernment%20Medical%20College%20Thiruvananthapuram!5e0!3m2!1sen!2sin!4v1584390440777!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>3. Govt. Medical College, Kozhikhode, Kerala</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3912.8530450556036!2d75.83719789999999!3d11.272210999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65c7619ac47c3%3A0x2749e5ee9d9f6e74!2sGovt%20Medical%20College%2CKozhikode!5e0!3m2!1sen!2sin!4v1584390495484!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>



    {% elif state == 'Madhya Pradesh' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. All India Institute Medical Sciences, Bhopal</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.9975967624587!2d77.4601622!3d23.2067582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c43d26850ddfb%3A0xd4059cf78aaf9443!2sAll%20India%20Institute%20of%20Medical%20Sciences%20(AIIMS)%20Bhopal!5e0!3m2!1sen!2sin!4v1584390595318!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>2. National Institute of Research in Tribal Health (NIRTH), Jabalpur</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3668.630678872977!2d79.8788639!3d23.147171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3981b22b0929eeb7%3A0xe75ccf5bcd320afc!2sNational%20Institute%20of%20Research%20In%20Tribal%20Health!5e0!3m2!1sen!2sin!4v1584390659617!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


    {% elif state == 'Meghalaya' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>NEIGRI of Health and Medical Sciences, Shillong, Meghalaya</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3598.4216956314585!2d91.93511121744385!3d25.59090000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3750791a829b3ce5%3A0x86fd9d8adbce97fd!2sNorth%20Eastern%20Indira%20Gandhi%20Regional%20Institute%20of%20Health%20and%20Medical%20Sciences%20Director%20Bungalow!5e0!3m2!1sen!2sin!4v1584390783425!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>



    {% elif state == 'Maharashtra' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Indira Gandhi Government Medical College, Nagpur</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.974376145542!2d79.09397349999999!3d21.153418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c0c484697b47%3A0x1698f2c62c736de6!2sIndira%20Gandhi%20Government%20Medical%20College%20%26%20Hospital!5e0!3m2!1sen!2sin!4v1584391738249!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>2. Kasturba Hospital for Infectious Diseases, Mumbai</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.809100939136!2d72.8298487!3d18.9840364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf4fc30ad8ef%3A0x75da3791d188dc41!2sKasturba%20Hospital%20chinchpokli!5e0!3m2!1sen!2sin!4v1584391826872!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>






    {% elif state == 'Manipur' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. J N Inst. of Med. Sciences Hospital, Imphal-East, Manipur</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28971.902278093483!2d93.94196984999999!3d24.812987099999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3749271b936a2369%3A0xb53569c240dbae63!2sJawaharlal%20Nehru%20Institute%20of%20Medical%20Sciences%2C%20Imphal.!5e0!3m2!1sen!2sin!4v1584391961355!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>



    {% elif state == 'Odisha' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>Regional Medical Research Center, Bhubaneswar</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3741.6040552400077!2d85.81950499999999!3d20.3166497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1909bacc7876f7%3A0xdc4452522661a7fa!2sRegional%20Medical%20Research%20Center!5e0!3m2!1sen!2sin!4v1584392044856!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>





    {% elif state == 'Puducherry' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Jawaharlal Institute of Postgraduate Medical Education & Research, Puducherry</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.3492738887085!2d79.7996963!3d11.950302299999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a536116ef186149%3A0x8b03791390d53c79!2sJawaharlal%20Institute%20of%20Postgraduate%20Medical%20Education%20and%20Research!5e0!3m2!1sen!2sin!4v1584392171855!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>












    {% elif state == 'Punjab' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Government Medical College, Patiala, Punjab</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.8050450691153!2d76.3851284!3d30.328062700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391028dd42623407%3A0x5e276e90afb4f8a!2sGovernment%20Medical%20College%2C%20Patiala!5e0!3m2!1sen!2sin!4v1584392247906!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>2. Government Medical College, Amritsar</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3396.269229275858!2d74.8852258!3d31.6538532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391964af081f8b0f%3A0xc2715e6949b25a36!2sGovernment%20Medical%20College%2C%20Amritsar!5e0!3m2!1sen!2sin!4v1584392316060!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>





    {% elif state == 'Rajasthan' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Sawai Man Singh, Jaipur</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.9387219899945!2d75.8155494!3d26.905439799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db6a458921159%3A0x8b4d8236456e6f3a!2sSawai%20Maansingh%20Hospital!5e0!3m2!1sen!2sin!4v1584392421892!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>2.  Dr. S.N Medical College, Jodhpur</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.7609303263853!2d73.007409!3d26.269421399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39418c3b0c71664d%3A0xfb52c4e5ce32600c!2sDr.%20Sampurnanand%20Medical%20College%20(SNMC)!5e0!3m2!1sen!2sin!4v1584392482926!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>3.  Jhalawar Medical College, Jhalawar, Rajasthan</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3628.1053497629523!2d76.16103799999999!3d24.585560199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39653f26aaaaaaab%3A0xb15ca3e11d95dfdd!2sJHALAWAR%20MEDICAL%20COLLEGE!5e0!3m2!1sen!2sin!4v1584392551354!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>



    {% elif state == 'Tamil Nadu' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. King's Institute of Preventive Medicine & Research, Chennai</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.364555991377!2d80.2176106!3d13.012441299999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267135ee50837%3A0x2674a66adf20bedf!2sThe%20King%20Institute%20of%20Preventive%20Medicine%20and%20Research!5e0!3m2!1sen!2sin!4v1584392713568!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br>
    <br>
    <h4><strong>2. Government Medical College, Theni</strong></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.12911188064!2d77.5536939!3d10.0061925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b07155c5bd08943%3A0xeec43b20ac44dd49!2sTheni%20Government%20Medical%20College!5e0!3m2!1sen!2sin!4v1584392795114!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>









    {% elif state == 'Tripura' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Government Medical College, Agartala</strong></h4>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58398.500265327275!2d91.27483110000001!3d23.82193195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3753f15385e1e7e7%3A0x217dff53bd03ee71!2sAgartala%20Government%20Medical%20College%20%26%20Govind%20Ballabh%20Pant%20Hospital!5e0!3m2!1sen!2sin!4v1584392891387!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>







   {% elif state == 'Telangana' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Gandhi Medical College, Secunderabad</strong></h4>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.749141689872!2d78.5013447174438!3d17.423822400000013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb998cf8889263%3A0x2142257bc81507ff!2sGandhi%20Hospital!5e0!3m2!1sen!2sin!4v1584392971154!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>




   {% elif state == 'Uttar Pradesh' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. 1. King's George Medical University, Lucknow</strong></h4>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.0781169669012!2d80.91624019999999!3d26.869259099999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfdedc1dfa741%3A0x99b4b7755495f7e7!2sKing%20George&#39;s%20Medical%20University!5e0!3m2!1sen!2sin!4v1584393052240!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
   <br>
   <br>
   <h4><strong>2. Institute of Medical Sciences, Banaras Hindu University, Varanasi</strong></h4>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3607.8849705268917!2d82.9995254!3d25.2744547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e318f2403fe5b%3A0xa1d628690b2411dd!2sInstitute%20of%20Medical%20Sciences%20BHU!5e0!3m2!1sen!2sin!4v1584393113595!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
   <br>
   <br>
   <h4><strong>3. Jawaharlal Nehru Medical College, Aligarh</strong></h4>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56407.32661938576!2d78.05072157910156!3d27.918604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3974a4e0f6b6118f%3A0x81191b8caed27551!2sJawaharlal%20Nehru%20Medical%20College%2C%20AMU%2C!5e0!3m2!1sen!2sin!4v1584393196051!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>




   {% elif state == 'UttaraKhand' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. Government Medical College, Haldwani</strong></h4>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3482.5831364007763!2d79.52138120000001!3d29.2063975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a09ada36d3b37d%3A0xfaa7914e94158694!2sGovernment%20Medical%20College!5e0!3m2!1sen!2sin!4v1584393292848!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>








   {% elif state == 'West Bengal' %}
<p style="text-align: center;">Here are the medical centers that are providing tests for Corona virus (covid-19) in {{ state | title }}</p>
    <h4><strong>1. National Institute of Cholera and Enteric Diseases, Kolkata</strong></h4>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.354324185149!2d88.399816!3d22.5658475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027680828c3e93%3A0xd3d0d54be207ec29!2sNational%20Institute%20of%20Cholera%20and%20Enteric%20Diseases!5e0!3m2!1sen!2sin!4v1584393384487!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
   <br>
   <br>
   <h4><strong>2. IPGMER, Kolkata</strong></h4>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58960.85867333074!2d88.30716117910156!3d22.539662300000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02773fe291de33%3A0x6e7b66863150f953!2sIPGME%26R%20and%20SSKM%20Hospital%20%2C%20Kolkata!5e0!3m2!1sen!2sin!4v1584393450285!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


{% else %}
    <h1>Show this to all others.</h1>
{% endif %}


{% endblock content %}